.App {
  margin: auto;
  background-color: rgb(233, 233, 233);
  width: 40%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
}

header, .forms-container, footer {
  background-color: rgb(182, 182, 182);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header {
  font-size: 2.8rem;
  height: 15vh;
}
.forms-container {
  flex-direction: column;
  height: 70vh;
}
footer {
  height: 8vh;
}

.arch-form-container {
  margin: auto;
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.arch-form-container form, .arch-form-container form div {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.arch-form-container form {
  width: 80%;
}
.arch-form-container form div {
  text-align: right;
  width: 100%;
  flex-direction: row;
}
.arch-form-container form input, .arch-form-container form select {
  width: 75%;
}
.arch-form-container form p {
  width: 20%;
}

.form-selector-section {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.selector-button {
  width: 10%;
  margin: auto 1%;
}