.App {
  margin: auto;
  background-color: rgb(233, 233, 233);
  width: 40%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
}

header, .forms-container, footer {
  background-color: rgb(182, 182, 182);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header {
  font-size: 2.8rem;
  height: 15vh;
}
.forms-container {
  flex-direction: column;
  height: 70vh;
}
footer {
  height: 8vh;
}

.arch-form-container {
  margin: auto;
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.arch-form-container form, .arch-form-container form div {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.arch-form-container form {
  width: 80%;
}
.arch-form-container form div {
  text-align: right;
  width: 100%;
  flex-direction: row;
}
.arch-form-container form input, .arch-form-container form select {
  width: 70%;
}
.arch-form-container form p {
  width: 25%;
}

.form-selector-section {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.selector-button {
  width: 10%;
  margin: auto 1%;
}

.weapon-rarity-selector {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.weapon-rarity-selector button {
  width: 18%;
  height: 40px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}
.weapon-rarity-selector button:disabled {
  cursor: default;
  text-decoration: underline;
}
.weapon-rarity-selector button:nth-child(1) {
  color: lightgrey;
  background-color: rgb(153, 153, 153);
}
.weapon-rarity-selector button:nth-child(1):hover {
  color: lightgray;
  background-color: rgb(97, 97, 97);
}
.weapon-rarity-selector button:nth-child(1):disabled {
  color: white;
  background-color: grey;
}

.weapon-rarity-selector button:nth-child(2) {
  color: lightgreen;
  background-color: rgb(92, 122, 92);
}
.weapon-rarity-selector button:nth-child(2):hover {
  color: lightgreen;
  background-color: rgb(0, 78, 0);
}
.weapon-rarity-selector button:nth-child(2):disabled {
  color: white;
  background-color: green;
}

.weapon-rarity-selector button:nth-child(3) {
  color: lightskyblue;
  background-color: rgb(118, 118, 184);
}
.weapon-rarity-selector button:nth-child(3):hover {
  color: lightskyblue;
  background-color: darkblue;
}
.weapon-rarity-selector button:nth-child(3):disabled {
  color: white;
  background-color: blue;
}

.weapon-rarity-selector button:nth-child(4) {
  color: rgb(255, 130, 255);
  background-color: rgb(126, 94, 126);
}
.weapon-rarity-selector button:nth-child(4):hover {
  color: rgb(255, 130, 255);
  background-color: rgb(68, 0, 68);
}
.weapon-rarity-selector button:nth-child(4):disabled {
  color: white;
  background-color: purple;
}